# Import Useful Libraries

In [1]:
import pandas as pd
import numpy as np

# Define Class, which display

In [2]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

# Read State Population, State Areas, State Abbrevations dataset

In [3]:
population = pd.read_csv('./state-population.csv')
areas = pd.read_csv('./state-areas.csv')
abbrev = pd.read_csv('./state-abbrevs.csv')

# Explore Datasets

In [4]:
display('population.head()', 'areas.head()', 'abbrev.head()')

population.head()
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

areas.head()
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

abbrev.head()
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [5]:
print('Population Dataset \n', population.shape)
print('\n State Areas Dataset \n', areas.shape)
print('\n State Abbrevations Dataset \n', abbrev.shape)

Population Dataset
 (2544, 4)

 State Areas Dataset
 (52, 2)

 State Abbrevations Dataset
 (51, 2)

# Merge the data using inner join

As inner join, only join the data which is common in both dataset. We saw that in areas and abbrevations dataset, we have a column in common, named state, so we join it by using "inner join" and it is also an example of one-one relationship

In [6]:
areas_abbrev = areas.merge(abbrev, on = 'state')
areas_abbrev.head()

        state  area (sq. mi) abbreviation
0     Alabama          52423           AL
1      Alaska         656425           AK
2     Arizona         114006           AZ
3    Arkansas          53182           AR
4  California         163707           CA

In [7]:
areas_abbrev.shape

(51, 3)

# Merge Data Frame using Right Join

Match the left hand data frame with right hand data frame and get the values which are match with right data frame

In [8]:
pop_areas_abbrev = population.merge(areas_abbrev, how = 'right', left_on = 'state/region', right_on = 'abbreviation')
pop_areas_abbrev = pop_areas_abbrev.drop('abbreviation', axis = 1)
pop_areas_abbrev

,state/region,ages,year,population,state,area (sq. mi)
0,AL,under18,2012,1117489.0,Alabama,52423
1,AL,total,2012,4817528.0,Alabama,52423
2,AL,under18,2010,1130966.0,Alabama,52423
3,AL,total,2010,4785570.0,Alabama,52423
4,AL,under18,2011,1125763.0,Alabama,52423
...,...,...,...,...,...,...
2443,DC,under18,1991,116825.0,District of Columbia,68
2444,DC,under18,1992,118636.0,District of Columbia,68
2445,DC,total,1992,597567.0,District of Columbia,68
2446,DC,under18,1990,112632.0,District of Columbia,68
2447,DC,total,1990,605321.0,District of Columbia,68

In [9]:
pop_areas_abbrev.isnull().sum()

state/region     0
ages             0
year             0
population       0
state            0
area (sq. mi)    0
dtype: int64

# Get the information of alabama states

In [10]:
alabama = pop_areas_abbrev[pop_areas_abbrev['state'] == 'Alabama']
alabama.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama          52423
1           AL    total  2012   4817528.0  Alabama          52423
2           AL  under18  2010   1130966.0  Alabama          52423
3           AL    total  2010   4785570.0  Alabama          52423
4           AL  under18  2011   1125763.0  Alabama          52423

# Get the population of alabam who are under 18

In [11]:
alabama_18 = alabama[alabama['ages'] == 'under18']
alabama_18.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama          52423
2           AL  under18  2010   1130966.0  Alabama          52423
4           AL  under18  2011   1125763.0  Alabama          52423
7           AL  under18  2009   1134192.0  Alabama          52423
8           AL  under18  2013   1111481.0  Alabama          52423

# Climate Temp and Climate Perecipitation dataset

In [14]:
climate_temp = pd.read_csv('./climate_temp.csv')
climate_percep = pd.read_csv('./climate_precip.csv')

In [18]:
climate_temp.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,0,0,0,-7777,1,2,6,7,10,15
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,0,0,0,-7777,1,2,6,7,10,15
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,0,0,0,-7777,1,2,5,7,10,15
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,0,0,0,-7777,1,2,5,7,10,15
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,0,0,0,-7777,-7777,2,5,7,10,15

In [19]:
climate_percep.head()

,STATION,STATION_NAME,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,DLY-SNWD-50PCTL,DLY-SNOW-50PCTL,DLY-PRCP-75PCTL,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100101,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100102,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100103,-6.66,-666,-66.6,-6.66,-666,-66.6,-6.66,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100104,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,20100105,-6.66,-9999,-9999.0,-6.66,-9999,-9999.0,-6.66,...,3,0,0,0,0,0,0,0,0,0

In [20]:
climate_temp.shape

(127020, 21)

In [21]:
climate_percep.shape

(151110, 29)

In [23]:
climate_temp['STATION'].value_counts()

GHCND:USW00093225    365
GHCND:USC00040212    365
GHCND:USC00041738    365
GHCND:USC00042500    365
GHCND:USW00023273    365
                    ...
GHCND:USW00093138    365
GHCND:USC00049859    365
GHCND:USC00047050    365
GHCND:USC00043392    365
GHCND:USC00046719    365
Name: STATION, Length: 348, dtype: int64

In [25]:
station_1 = climate_temp[climate_temp['STATION'] == 'GHCND:USC00049859']
station_1.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-CLDD-NORMAL,DLY-CLDD-BASE70,DLY-CLDD-BASE72,DLY-HTDD-BASE40,DLY-HTDD-BASE45,DLY-HTDD-BASE50,DLY-HTDD-BASE55,DLY-HTDD-BASE57,DLY-HTDD-BASE60,DLY-HTDD-NORMAL
119355,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-7777,0,0,0,1,4,8,10,13,18
119356,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100102,3,-7777,-7777,-7777,...,-7777,0,0,0,1,4,8,10,13,18
119357,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100103,3,-7777,-7777,-7777,...,-7777,0,0,-7777,1,4,8,10,13,18
119358,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100104,3,1,-7777,-7777,...,-7777,0,0,-7777,1,4,8,10,13,18
119359,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100105,3,1,-7777,-7777,...,-7777,0,0,-7777,1,4,8,10,13,18

# Inner join , common values

In [32]:
station_merge = station_1.merge(climate_percep, on = 'STATION')
station_merge.head()

,STATION,STATION_NAME_x,ELEVATION,LATITUDE,LONGITUDE,DATE_x,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:USC00049859,YOUNTVILLE CA US,29,38.395,-122.35667,20100101,3,-7777,-7777,-7777,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [39]:
temp_percep = pd.merge(climate_temp, climate_percep, on = ['STATION_NAME', 'DATE'], 
                      suffixes = ('_temp', '_percp'))
temp_percep.head()

,STATION_temp,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3,0,0,0,0,0,0,0,0,0

In [40]:
temp_percep.columns

Index(['STATION_temp', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE',
       'DATE', 'DLY-CLDD-BASE45', 'DLY-CLDD-BASE50', 'DLY-CLDD-BASE55',
       'DLY-CLDD-BASE57', 'DLY-CLDD-BASE60', 'DLY-CLDD-NORMAL',
       'DLY-CLDD-BASE70', 'DLY-CLDD-BASE72', 'DLY-HTDD-BASE40',
       'DLY-HTDD-BASE45', 'DLY-HTDD-BASE50', 'DLY-HTDD-BASE55',
       'DLY-HTDD-BASE57', 'DLY-HTDD-BASE60', 'DLY-HTDD-NORMAL',
       'STATION_percp', 'DLY-PRCP-25PCTL', 'DLY-SNWD-25PCTL',
       'DLY-SNOW-25PCTL', 'DLY-PRCP-50PCTL', 'DLY-SNWD-50PCTL',
       'DLY-SNOW-50PCTL', 'DLY-PRCP-75PCTL', 'DLY-SNWD-75PCTL',
       'DLY-SNOW-75PCTL', 'MTD-PRCP-NORMAL', 'MTD-SNOW-NORMAL',
       'YTD-PRCP-NORMAL', 'YTD-SNOW-NORMAL', 'DLY-PRCP-PCTALL-GE001HI',
       'DLY-PRCP-PCTALL-GE010HI', 'DLY-PRCP-PCTALL-GE050HI',
       'DLY-PRCP-PCTALL-GE100HI', 'DLY-SNWD-PCTALL-GE001WI',
       'DLY-SNWD-PCTALL-GE010WI', 'DLY-SNWD-PCTALL-GE003WI',
       'DLY-SNWD-PCTALL-GE005WI', 'DLY-SNOW-PCTALL-GE001TI',
       'DLY-SNOW-PCTALL-GE010TI', 'DLY-SNOW-PCTALL-GE100TI',
       'DLY-SNOW-PCTALL-GE030TI', 'DLY-SNOW-PCTALL-GE050TI'],
      dtype='object')

# After Merging DataFrames

In [41]:
temp_percep.shape

(123735, 48)

# Before Mergin DataFrames

In [42]:
print(climate_percep.shape)
print(climate_temp.shape)

(151110, 29)
(127020, 21)

We can saw easily the difference by looking at both datasets rows and columns before and after joining, that it merge all the common values in both datasets and no null values in it

In [43]:
temp_percep.isnull().sum()

STATION_temp               0
STATION_NAME               0
ELEVATION                  0
LATITUDE                   0
LONGITUDE                  0
DATE                       0
DLY-CLDD-BASE45            0
DLY-CLDD-BASE50            0
DLY-CLDD-BASE55            0
DLY-CLDD-BASE57            0
DLY-CLDD-BASE60            0
DLY-CLDD-NORMAL            0
DLY-CLDD-BASE70            0
DLY-CLDD-BASE72            0
DLY-HTDD-BASE40            0
DLY-HTDD-BASE45            0
DLY-HTDD-BASE50            0
DLY-HTDD-BASE55            0
DLY-HTDD-BASE57            0
DLY-HTDD-BASE60            0
DLY-HTDD-NORMAL            0
STATION_percp              0
DLY-PRCP-25PCTL            0
DLY-SNWD-25PCTL            0
DLY-SNOW-25PCTL            0
DLY-PRCP-50PCTL            0
DLY-SNWD-50PCTL            0
DLY-SNOW-50PCTL            0
DLY-PRCP-75PCTL            0
DLY-SNWD-75PCTL            0
DLY-SNOW-75PCTL            0
MTD-PRCP-NORMAL            0
MTD-SNOW-NORMAL            0
YTD-PRCP-NORMAL            0
YTD-SNOW-NORMAL            0
DLY-PRCP-PCTALL-GE001HI    0
DLY-PRCP-PCTALL-GE010HI    0
DLY-PRCP-PCTALL-GE050HI    0
DLY-PRCP-PCTALL-GE100HI    0
DLY-SNWD-PCTALL-GE001WI    0
DLY-SNWD-PCTALL-GE010WI    0
DLY-SNWD-PCTALL-GE003WI    0
DLY-SNWD-PCTALL-GE005WI    0
DLY-SNOW-PCTALL-GE001TI    0
DLY-SNOW-PCTALL-GE010TI    0
DLY-SNOW-PCTALL-GE100TI    0
DLY-SNOW-PCTALL-GE030TI    0
DLY-SNOW-PCTALL-GE050TI    0
dtype: int64

# Outer Join

In [47]:
merge_outer = pd.merge(climate_temp, climate_percep, on = ['STATION', 'DATE'], how = 'outer',
                      suffixes = ('_temp', '_perc'))

In [50]:
merge_outer

,STATION,STATION_NAME_temp,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6.0,2.0,-7777.0,-7777.0,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6.0,2.0,1.0,-7777.0,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6.0,2.0,1.0,-7777.0,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6.0,2.0,1.0,-7777.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6.0,2.0,1.0,-7777.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155120,GHCND:USC00041916,NaN,NaN,NaN,NaN,20101227,NaN,NaN,NaN,NaN,...,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155121,GHCND:USC00041916,NaN,NaN,NaN,NaN,20101228,NaN,NaN,NaN,NaN,...,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155122,GHCND:USC00041916,NaN,NaN,NaN,NaN,20101229,NaN,NaN,NaN,NaN,...,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155123,GHCND:USC00041916,NaN,NaN,NaN,NaN,20101230,NaN,NaN,NaN,NaN,...,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
155124,GHCND:USC00041916,NaN,NaN,NaN,NaN,20101231,NaN,NaN,NaN,NaN,...,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
merge_outer.columns

Index(['STATION', 'STATION_NAME_temp', 'ELEVATION', 'LATITUDE', 'LONGITUDE',
       'DATE', 'DLY-CLDD-BASE45', 'DLY-CLDD-BASE50', 'DLY-CLDD-BASE55',
       'DLY-CLDD-BASE57', 'DLY-CLDD-BASE60', 'DLY-CLDD-NORMAL',
       'DLY-CLDD-BASE70', 'DLY-CLDD-BASE72', 'DLY-HTDD-BASE40',
       'DLY-HTDD-BASE45', 'DLY-HTDD-BASE50', 'DLY-HTDD-BASE55',
       'DLY-HTDD-BASE57', 'DLY-HTDD-BASE60', 'DLY-HTDD-NORMAL',
       'STATION_NAME_perc', 'DLY-PRCP-25PCTL', 'DLY-SNWD-25PCTL',
       'DLY-SNOW-25PCTL', 'DLY-PRCP-50PCTL', 'DLY-SNWD-50PCTL',
       'DLY-SNOW-50PCTL', 'DLY-PRCP-75PCTL', 'DLY-SNWD-75PCTL',
       'DLY-SNOW-75PCTL', 'MTD-PRCP-NORMAL', 'MTD-SNOW-NORMAL',
       'YTD-PRCP-NORMAL', 'YTD-SNOW-NORMAL', 'DLY-PRCP-PCTALL-GE001HI',
       'DLY-PRCP-PCTALL-GE010HI', 'DLY-PRCP-PCTALL-GE050HI',
       'DLY-PRCP-PCTALL-GE100HI', 'DLY-SNWD-PCTALL-GE001WI',
       'DLY-SNWD-PCTALL-GE010WI', 'DLY-SNWD-PCTALL-GE003WI',
       'DLY-SNWD-PCTALL-GE005WI', 'DLY-SNOW-PCTALL-GE001TI',
       'DLY-SNOW-PCTALL-GE010TI', 'DLY-SNOW-PCTALL-GE100TI',
       'DLY-SNOW-PCTALL-GE030TI', 'DLY-SNOW-PCTALL-GE050TI'],
      dtype='object')

In [52]:
merge_outer.shape

(155125, 48)

In [53]:
print(climate_percep.shape)
print(climate_temp.shape)

(151110, 29)
(127020, 21)

We can saw, it join all of the data which is present in both dataframes, but where it found the matches it merge the data, and where it not find the match, it creates the Nan values. we can see tha Nan values below, but there is a huge amount of Nan values present. It may effect the data integrity, so we have to choose the joins which not disturb the data integrity.

In [54]:
merge_outer.isnull().sum()

STATION                        0
STATION_NAME_temp          28105
ELEVATION                  28105
LATITUDE                   28105
LONGITUDE                  28105
DATE                           0
DLY-CLDD-BASE45            28105
DLY-CLDD-BASE50            28105
DLY-CLDD-BASE55            28105
DLY-CLDD-BASE57            28105
DLY-CLDD-BASE60            28105
DLY-CLDD-NORMAL            28105
DLY-CLDD-BASE70            28105
DLY-CLDD-BASE72            28105
DLY-HTDD-BASE40            28105
DLY-HTDD-BASE45            28105
DLY-HTDD-BASE50            28105
DLY-HTDD-BASE55            28105
DLY-HTDD-BASE57            28105
DLY-HTDD-BASE60            28105
DLY-HTDD-NORMAL            28105
STATION_NAME_perc           4015
DLY-PRCP-25PCTL             4015
DLY-SNWD-25PCTL             4015
DLY-SNOW-25PCTL             4015
DLY-PRCP-50PCTL             4015
DLY-SNWD-50PCTL             4015
DLY-SNOW-50PCTL             4015
DLY-PRCP-75PCTL             4015
DLY-SNWD-75PCTL             4015
DLY-SNOW-75PCTL             4015
MTD-PRCP-NORMAL             4015
MTD-SNOW-NORMAL             4015
YTD-PRCP-NORMAL             4015
YTD-SNOW-NORMAL             4015
DLY-PRCP-PCTALL-GE001HI     4015
DLY-PRCP-PCTALL-GE010HI     4015
DLY-PRCP-PCTALL-GE050HI     4015
DLY-PRCP-PCTALL-GE100HI     4015
DLY-SNWD-PCTALL-GE001WI     4015
DLY-SNWD-PCTALL-GE010WI     4015
DLY-SNWD-PCTALL-GE003WI     4015
DLY-SNWD-PCTALL-GE005WI     4015
DLY-SNOW-PCTALL-GE001TI     4015
DLY-SNOW-PCTALL-GE010TI     4015
DLY-SNOW-PCTALL-GE100TI     4015
DLY-SNOW-PCTALL-GE030TI     4015
DLY-SNOW-PCTALL-GE050TI     4015
dtype: int64

# Left Join

In [60]:
merge_left = climate_temp.merge(climate_percep, on = ['STATION_NAME', 'DATE'], how = 'left',
                               suffixes = ('_temp', '_perc'))
merge_left.head()

,STATION_temp,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6,2,-7777,-7777,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6,2,1,-7777,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6,2,1,-7777,...,3.0,-9999.0,0.0,-9999.0,-9999.0,-9999.0,-9999.0,0.0,-9999.0,-9999.0
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6,2,1,-7777,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6,2,1,-7777,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
merge_left.columns

Index(['STATION_temp', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE',
       'DATE', 'DLY-CLDD-BASE45', 'DLY-CLDD-BASE50', 'DLY-CLDD-BASE55',
       'DLY-CLDD-BASE57', 'DLY-CLDD-BASE60', 'DLY-CLDD-NORMAL',
       'DLY-CLDD-BASE70', 'DLY-CLDD-BASE72', 'DLY-HTDD-BASE40',
       'DLY-HTDD-BASE45', 'DLY-HTDD-BASE50', 'DLY-HTDD-BASE55',
       'DLY-HTDD-BASE57', 'DLY-HTDD-BASE60', 'DLY-HTDD-NORMAL', 'STATION_perc',
       'DLY-PRCP-25PCTL', 'DLY-SNWD-25PCTL', 'DLY-SNOW-25PCTL',
       'DLY-PRCP-50PCTL', 'DLY-SNWD-50PCTL', 'DLY-SNOW-50PCTL',
       'DLY-PRCP-75PCTL', 'DLY-SNWD-75PCTL', 'DLY-SNOW-75PCTL',
       'MTD-PRCP-NORMAL', 'MTD-SNOW-NORMAL', 'YTD-PRCP-NORMAL',
       'YTD-SNOW-NORMAL', 'DLY-PRCP-PCTALL-GE001HI', 'DLY-PRCP-PCTALL-GE010HI',
       'DLY-PRCP-PCTALL-GE050HI', 'DLY-PRCP-PCTALL-GE100HI',
       'DLY-SNWD-PCTALL-GE001WI', 'DLY-SNWD-PCTALL-GE010WI',
       'DLY-SNWD-PCTALL-GE003WI', 'DLY-SNWD-PCTALL-GE005WI',
       'DLY-SNOW-PCTALL-GE001TI', 'DLY-SNOW-PCTALL-GE010TI',
       'DLY-SNOW-PCTALL-GE100TI', 'DLY-SNOW-PCTALL-GE030TI',
       'DLY-SNOW-PCTALL-GE050TI'],
      dtype='object')

In [62]:
merge_left.shape

(127750, 48)

In [63]:
merge_left.isnull().sum()

STATION_temp                  0
STATION_NAME                  0
ELEVATION                     0
LATITUDE                      0
LONGITUDE                     0
DATE                          0
DLY-CLDD-BASE45               0
DLY-CLDD-BASE50               0
DLY-CLDD-BASE55               0
DLY-CLDD-BASE57               0
DLY-CLDD-BASE60               0
DLY-CLDD-NORMAL               0
DLY-CLDD-BASE70               0
DLY-CLDD-BASE72               0
DLY-HTDD-BASE40               0
DLY-HTDD-BASE45               0
DLY-HTDD-BASE50               0
DLY-HTDD-BASE55               0
DLY-HTDD-BASE57               0
DLY-HTDD-BASE60               0
DLY-HTDD-NORMAL               0
STATION_perc               4015
DLY-PRCP-25PCTL            4015
DLY-SNWD-25PCTL            4015
DLY-SNOW-25PCTL            4015
DLY-PRCP-50PCTL            4015
DLY-SNWD-50PCTL            4015
DLY-SNOW-50PCTL            4015
DLY-PRCP-75PCTL            4015
DLY-SNWD-75PCTL            4015
DLY-SNOW-75PCTL            4015
MTD-PRCP-NORMAL            4015
MTD-SNOW-NORMAL            4015
YTD-PRCP-NORMAL            4015
YTD-SNOW-NORMAL            4015
DLY-PRCP-PCTALL-GE001HI    4015
DLY-PRCP-PCTALL-GE010HI    4015
DLY-PRCP-PCTALL-GE050HI    4015
DLY-PRCP-PCTALL-GE100HI    4015
DLY-SNWD-PCTALL-GE001WI    4015
DLY-SNWD-PCTALL-GE010WI    4015
DLY-SNWD-PCTALL-GE003WI    4015
DLY-SNWD-PCTALL-GE005WI    4015
DLY-SNOW-PCTALL-GE001TI    4015
DLY-SNOW-PCTALL-GE010TI    4015
DLY-SNOW-PCTALL-GE100TI    4015
DLY-SNOW-PCTALL-GE030TI    4015
DLY-SNOW-PCTALL-GE050TI    4015
dtype: int64

In left join, we can see it merge the dataframe by comparing the values of right dataframe with the left dataframe and where it find the matches with left dataframe it merged, whereas in right dataframe, the values which are not matched with left dataframe, filled as Nan values

# Right Join

In [64]:
merge_right = climate_temp.merge(climate_percep, on = ['STATION_NAME', 'DATE'], how = 'right',
                                suffixes = ['_temp', '_perc'])
merge_right.head()

,STATION_temp,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,DLY-CLDD-BASE45,DLY-CLDD-BASE50,DLY-CLDD-BASE55,DLY-CLDD-BASE57,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100101,6.0,2.0,-7777.0,-7777.0,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
1,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100102,6.0,2.0,1.0,-7777.0,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
2,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100103,6.0,2.0,1.0,-7777.0,...,3,-9999,0,-9999,-9999,-9999,-9999,0,-9999,-9999
3,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100104,6.0,2.0,1.0,-7777.0,...,3,0,0,0,0,0,0,0,0,0
4,GHCND:USC00049099,TWENTYNINE PALMS CA US,602,34.12806,-116.03694,20100105,6.0,2.0,1.0,-7777.0,...,3,0,0,0,0,0,0,0,0,0

In [65]:
merge_right.columns

Index(['STATION_temp', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE',
       'DATE', 'DLY-CLDD-BASE45', 'DLY-CLDD-BASE50', 'DLY-CLDD-BASE55',
       'DLY-CLDD-BASE57', 'DLY-CLDD-BASE60', 'DLY-CLDD-NORMAL',
       'DLY-CLDD-BASE70', 'DLY-CLDD-BASE72', 'DLY-HTDD-BASE40',
       'DLY-HTDD-BASE45', 'DLY-HTDD-BASE50', 'DLY-HTDD-BASE55',
       'DLY-HTDD-BASE57', 'DLY-HTDD-BASE60', 'DLY-HTDD-NORMAL', 'STATION_perc',
       'DLY-PRCP-25PCTL', 'DLY-SNWD-25PCTL', 'DLY-SNOW-25PCTL',
       'DLY-PRCP-50PCTL', 'DLY-SNWD-50PCTL', 'DLY-SNOW-50PCTL',
       'DLY-PRCP-75PCTL', 'DLY-SNWD-75PCTL', 'DLY-SNOW-75PCTL',
       'MTD-PRCP-NORMAL', 'MTD-SNOW-NORMAL', 'YTD-PRCP-NORMAL',
       'YTD-SNOW-NORMAL', 'DLY-PRCP-PCTALL-GE001HI', 'DLY-PRCP-PCTALL-GE010HI',
       'DLY-PRCP-PCTALL-GE050HI', 'DLY-PRCP-PCTALL-GE100HI',
       'DLY-SNWD-PCTALL-GE001WI', 'DLY-SNWD-PCTALL-GE010WI',
       'DLY-SNWD-PCTALL-GE003WI', 'DLY-SNWD-PCTALL-GE005WI',
       'DLY-SNOW-PCTALL-GE001TI', 'DLY-SNOW-PCTALL-GE010TI',
       'DLY-SNOW-PCTALL-GE100TI', 'DLY-SNOW-PCTALL-GE030TI',
       'DLY-SNOW-PCTALL-GE050TI'],
      dtype='object')

In [66]:
merge_right.shape

(151840, 48)

In [67]:
merge_right.isnull().sum()

STATION_temp               28105
STATION_NAME                   0
ELEVATION                  28105
LATITUDE                   28105
LONGITUDE                  28105
DATE                           0
DLY-CLDD-BASE45            28105
DLY-CLDD-BASE50            28105
DLY-CLDD-BASE55            28105
DLY-CLDD-BASE57            28105
DLY-CLDD-BASE60            28105
DLY-CLDD-NORMAL            28105
DLY-CLDD-BASE70            28105
DLY-CLDD-BASE72            28105
DLY-HTDD-BASE40            28105
DLY-HTDD-BASE45            28105
DLY-HTDD-BASE50            28105
DLY-HTDD-BASE55            28105
DLY-HTDD-BASE57            28105
DLY-HTDD-BASE60            28105
DLY-HTDD-NORMAL            28105
STATION_perc                   0
DLY-PRCP-25PCTL                0
DLY-SNWD-25PCTL                0
DLY-SNOW-25PCTL                0
DLY-PRCP-50PCTL                0
DLY-SNWD-50PCTL                0
DLY-SNOW-50PCTL                0
DLY-PRCP-75PCTL                0
DLY-SNWD-75PCTL                0
DLY-SNOW-75PCTL                0
MTD-PRCP-NORMAL                0
MTD-SNOW-NORMAL                0
YTD-PRCP-NORMAL                0
YTD-SNOW-NORMAL                0
DLY-PRCP-PCTALL-GE001HI        0
DLY-PRCP-PCTALL-GE010HI        0
DLY-PRCP-PCTALL-GE050HI        0
DLY-PRCP-PCTALL-GE100HI        0
DLY-SNWD-PCTALL-GE001WI        0
DLY-SNWD-PCTALL-GE010WI        0
DLY-SNWD-PCTALL-GE003WI        0
DLY-SNWD-PCTALL-GE005WI        0
DLY-SNOW-PCTALL-GE001TI        0
DLY-SNOW-PCTALL-GE010TI        0
DLY-SNOW-PCTALL-GE100TI        0
DLY-SNOW-PCTALL-GE030TI        0
DLY-SNOW-PCTALL-GE050TI        0
dtype: int64

In right join, it exactly does the opposite of left join. It matches the left dataframe with right dataframe, the value in left which matched with right dataframe, it merged those value and left the remaining as Nan values in left dataframe

# Make a new data frame from climate_temp

In [68]:
climate_new = climate_temp[['STATION', 'STATION_NAME', 'LATITUDE', 'LONGITUDE']]
climate_new.head()

             STATION            STATION_NAME  LATITUDE   LONGITUDE
0  GHCND:USC00049099  TWENTYNINE PALMS CA US  34.12806  -116.03694
1  GHCND:USC00049099  TWENTYNINE PALMS CA US  34.12806  -116.03694
2  GHCND:USC00049099  TWENTYNINE PALMS CA US  34.12806  -116.03694
3  GHCND:USC00049099  TWENTYNINE PALMS CA US  34.12806  -116.03694
4  GHCND:USC00049099  TWENTYNINE PALMS CA US  34.12806  -116.03694

In [69]:
climate_new['STATION_NAME'].value_counts()

SAN JOSE CA US                     730
GEORGETOWN RANGER STATION CA US    365
SKYLINE RIDGE PRESERVE CA US       365
BOCA CA US                         365
PEARBLOSSOM CA US                  365
                                  ...
ASH MOUNTAIN CA US                 365
PETALUMA AIRPORT CA US             365
LAKE SOLANO CA US                  365
JOSHUA TREE CA US                  365
BALCH POWER HOUSE CA US            365
Name: STATION_NAME, Length: 347, dtype: int64

In [72]:
climate_ca_us = climate_new[climate_new['STATION_NAME'] == 'LAKE SOLANO CA US']
climate_ca_us

                 STATION       STATION_NAME  LATITUDE   LONGITUDE
54385  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54386  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54387  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54388  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54389  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
...                  ...                ...       ...         ...
54745  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54746  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54747  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54748  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389
54749  GHCND:USC00044712  LAKE SOLANO CA US  38.49194  -122.00389

[365 rows x 4 columns]

# I wants to know the percipitation of above selected stations, we know inner join will do this task for us, because it selected the common variables from both dataframes

In [79]:
ca_us_percep = climate_ca_us.merge(climate_percep, on = 'STATION_NAME', suffixes = ('_CA','_PERC'))
ca_us_percep

,STATION_CA,STATION_NAME,LATITUDE,LONGITUDE,STATION_PERC,DATE,DLY-PRCP-25PCTL,DLY-SNWD-25PCTL,DLY-SNOW-25PCTL,DLY-PRCP-50PCTL,...,DLY-PRCP-PCTALL-GE100HI,DLY-SNWD-PCTALL-GE001WI,DLY-SNWD-PCTALL-GE010WI,DLY-SNWD-PCTALL-GE003WI,DLY-SNWD-PCTALL-GE005WI,DLY-SNOW-PCTALL-GE001TI,DLY-SNOW-PCTALL-GE010TI,DLY-SNOW-PCTALL-GE100TI,DLY-SNOW-PCTALL-GE030TI,DLY-SNOW-PCTALL-GE050TI
0,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20100101,0.07,-9999,-9999.0,0.24,...,53,0,0,0,0,0,0,0,0,0
1,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20100102,0.07,-9999,-9999.0,0.24,...,54,0,0,0,0,0,0,0,0,0
2,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20100103,0.07,-9999,-9999.0,0.24,...,54,0,0,0,0,0,0,0,0,0
3,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20100104,0.07,-9999,-9999.0,0.23,...,54,0,0,0,0,0,0,0,0,0
4,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20100105,0.07,-9999,-9999.0,0.23,...,54,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133220,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20101227,0.06,-9999,-9999.0,0.24,...,51,0,0,0,0,0,0,0,0,0
133221,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20101228,0.06,-9999,-9999.0,0.24,...,52,0,0,0,0,0,0,0,0,0
133222,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20101229,0.06,-9999,-9999.0,0.24,...,52,0,0,0,0,0,0,0,0,0
133223,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20101230,0.06,-9999,-9999.0,0.24,...,53,0,0,0,0,0,0,0,0,0
133224,GHCND:USC00044712,LAKE SOLANO CA US,38.49194,-122.00389,GHCND:USC00044712,20101231,0.07,-9999,-9999.0,0.24,...,53,0,0,0,0,0,0,0,0,0

In [80]:
ca_us_percep['STATION_CA'].value_counts()

GHCND:USC00044712    133225
Name: STATION_CA, dtype: int64

In [77]:
ca_us_percep['STATION_NAME'].value_counts()

LAKE SOLANO CA US    133225
Name: STATION_NAME, dtype: int64